<!doctype html>
<html lang="en">
  <head>
    <title>Visual Analytics</title>
    <meta charset="utf-8">
    <style>
body{background:#000000;color:#ffffff;}
    </style>
  </head>
  <body>
  
	    <%- include('layouts/' + layout) %>
	
  </body>
</html>