<!doctype html>
<html lang="en">
  <head>
    <title>Visual Analytics</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>express_visual_analytics</h1>

    <div id="view"></div>
    <script src="/js/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/threejs/0.0.93/three.min.js"></script>
    <script src="/js/threejs/0.0.93/orbit.controls.js"></script>
    <script src="/js/first.js"></script>

  </body>
</html>