<!doctype html>
<html lang="en">
  <head>
    <title>Visual Analytics</title>
    <meta charset="utf-8">
    <style>
body{background:#000000;color:#ffffff;}
    </style>
  </head>
  <body>
  
    <% if(layout === 'work'){ %>
	
	    <%- include('work') %>
	
    <% }else{ %>
	<p>not a work path</p>
	<% } %>

  </body>
</html>