
    <h1><%= workname %></h1>

    <div id="view"></div>

    <script src="/js/threejs/0.0.93/three.min.js"></script>
    <script src="/js/threejs/0.0.93/orbit.controls.js"></script>

    <script src="/js/visual_analytics/getdata.js"></script>
    <script src="/js/visual_analytics/materials.js"></script>
    <script src="/js/visual_analytics/three_shell.js"></script>
    <script src="/js/visual_analytics/works/<%= workname %>/work.js"></script>
